.how-to-reach-links>a,
.how-to-reach-links>span {
	margin-right: 1em;
}

ul.webrings {
	display: inline;
	list-style: none;
	padding: 0;
}

.webrings li {
	display: inline;
	margin-right: .75rem;
	white-space: nowrap;
}

.xxiivv-icon {
	display: inline;
	height: 1rem;
	vertical-align: middle;
	margin-bottom: 3px;
	margin-right: 2px;
}

.special-themes-attention {
	vertical-align: middle;
	margin-top: -4px;
}
