.photography > section + hr {
	border: none;
}

.photography > section + hr::after {
	content: '\2053';
	display: block;
	text-align: center;
	opacity: .75;
	margin-top: 4px;
}

.gallery {
	gap: 4px;
	display: grid;
}

.gallery img {
	display: block; /* remove extra gaps because of whitespaces */
}

.gallery--2b {
	grid-template-columns: repeat(2, 1fr);
}

.gallery--3 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery--3 :nth-child(1) {
	grid-column: span 2;
}

.gallery--4 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery--4b {
	grid-template-columns: repeat(3, 1fr);
}

.gallery--4b :nth-child(1) {
	grid-column: span 3;
}

.gallery--5 {
	grid-template: repeat(3, auto) / repeat(2, 1fr);
}

.gallery--5 :nth-child(1) {
	grid-column: span 2;
}

.gallery--6 {
	grid-template: repeat(3, auto) / repeat(6, 1fr);
}

.gallery--6 > * {
	grid-column: span 2;
}

.gallery--6 :nth-child(1) {
	grid-column: span 6;
}

.gallery--6 :is(:nth-child(2),	:nth-child(3)) {
	grid-column: span 3;
}

.gallery--7 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery--7 :nth-child(1) {
	grid-column: span 3;
}

.gallery--8 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery--9 {
	grid-template: repeat(3, auto) / repeat(6, 1fr);
}

.gallery--9 > * {
	grid-column: span 3;
}

.gallery--9 :nth-child(7),
.gallery--9 :nth-child(8),
.gallery--9 :nth-child(9) {
	grid-column: span 2;
}

.gallery--10 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery--10 :nth-child(1) {
	grid-column: span 3;
}
