
:root {
    --avatar-size: 100px;
    --move-x-animation-duration: 7s;
    --move-y-animation-duration: 4s;
}

.flying-avatar {
    width: var(--avatar-size);
    height: var(--avatar-size);

    border-radius: 100%;
    box-sizing: border-box;

    cursor: pointer;

    will-change: left, top;
    position: absolute;

    animation:
        move-x var(--move-x-animation-duration) linear 0s infinite alternate,
        move-y var(--move-y-animation-duration) linear 0s infinite alternate;
}


@keyframes move-x {
    from { left: 0; } to { left: calc(100% - var(--avatar-size)); }
}

@keyframes move-y {
    from { top: 0; } to { top: calc(100% - var(--avatar-size)); }
}

.not-found {
    margin: auto;
    padding-bottom: 4rem;

    text-align: center;
    user-select: none;
}

.not-found__title {
    font-size: 14rem;
    line-height: 1;

    margin: 0;
}

.not-found__subtitle {
    font-size: 1.55rem;
}