:root {
	--link-color: #0007cc;
	--link-visited-color: #7d0eb4;
	--link-hover-color: #cc0000;

	--border-color: #7a7a7a;
	--code-color: inherit;

	--text-color: #000;
	--background: #fff;
}

._theme--sky {
	--background: url('/assets/backgrounds/sky.png');
}

._theme--black {
	--link-color: #fff;
	--link-visited-color: #b3b3b3;

	--background: #000;
	--text-color: #fff;
}

._theme--space {
	--link-color: #fff;
	--link-visited-color: #b3b3b3;

	--background: url('/assets/backgrounds/stardown.gif');
	--text-color: #fff;
}

._theme--tonsky {
	--background: #fddb29;
	--link-color: #1a0000;
	--link-visited-color: #533737;
}

._theme--panther {
	--link-color: #A90FB3;
	--link-hover-color: #0686E0;
	--link-visited-color: #8C5E93;

	--background: url('/assets/backgrounds/bkgpstlpatrn1.jpg');
	--text-color: #570466;
}


/* start: winter themes */

._theme--winter-2026 {
	--background: url('/assets/backgrounds/aurora.png') no-repeat 50% 0 / 100%, url('/assets/backgrounds/snow/snow02.gif'), #00a0f0;
	--text-color: #000;

	--snow-shadow-s: 0px -1px #fff;
	--snow-shadow-l: 0px -1.5px #fff;
}

._theme--winter-2026,
._theme--winter-2025 {
	cursor: url('/assets/cursors/christmas-tree.cur'), default;
}

._theme--winter-2025 {
	--background: url('/assets/backgrounds/jwsnow1g.gif'), #7bb6ed;
	--text-color: #080822;

	--snow-shadow-s: 0px -1px #fff;
	--snow-shadow-l: 0px -1.5px #fff;
}

._theme--winter-2026 .header__avatar,
._theme--winter-2025 .header__avatar {
	box-shadow: var(--snow-shadow-l);
}

._theme--winter-2026 h1, ._theme--winter-2026 h2,
._theme--winter-2025 h1, ._theme--winter-2025 h2 {
	text-shadow: var(--snow-shadow-l);
}

._theme--winter-2026 h3, ._theme--winter-2026 h4,
._theme--winter-2025 h3, ._theme--winter-2025 h4 {
	text-shadow: var(--snow-shadow-s);
}

._theme--winter-2026 main h1,
._theme--winter-2025 main h1 {
	text-shadow: none;
	filter: drop-shadow(var(--snow-shadow-l));
}

._theme--winter-2026 main h2,
._theme--winter-2025 main h2 {
	text-shadow: none;
	filter: drop-shadow(var(--snow-shadow-s));
}


._theme--winter-2024 {
	--link-color: #fff;
	--link-visited-color: #cdccf0;

	--background: url('/assets/backgrounds/snowbg.gif');
	--text-color: #fff;
}

._theme--winter-2023 {
	--link-color: #fff;
	--link-visited-color: #cdccf0;

	--background: url('/assets/winter/christmas-lights-2.gif') repeat-x, url('/assets/backgrounds/winter.gif');
	--text-color: #fff;
}

[class*="_theme--winter"] body::before {
	height: 24px; /* height of /assets/winter/christmas-lights-2.gif*/
	width: 100vw;
	background: url('/assets/winter/christmas-lights-2.gif') repeat-x;
	position: absolute;
	content: ' ';
	top: 0;
	left: 0;
	right: 0;
	display: block;
	image-rendering: pixelated;
}

[class*="_theme--winter"] .header {
	margin-top: 24px; /* height of /assets/winter/christmas-lights-2.gif*/
}

[class*="_theme--winter"] .footer {
	align-items: center;
	margin-top: -.5rem;
}

[class*="_theme--winter"] main h1::before,
[class*="_theme--winter"] main h2::before {
	content: '';
	background: url('/assets/winter/nano-tree.gif') left center no-repeat;
	background-size: contain;
	image-rendering: pixelated;
	display: inline-block;
	vertical-align: middle;
	height: 1em;
	width: 1em;
	margin-right: .1em;
	margin-bottom: 2px;
}

/* end: winter themes */


a {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

a:hover,
a:visited:hover {
	color: var(--link-hover-color);
}

._dashed {
	text-decoration-style: dashed;
}

._dotted {
	text-decoration-style: dotted;
}

._none {
	text-decoration: none;
}

._no-visited {
	--link-visited-color: var(--link-color);
}

a.external-link::after{
	display: inline-block;
	content: '';
	width: 12px;
	height: 12px;
	background: url(/assets/wikipedia_external_link.png) no-repeat;
	image-rendering: pixelated;
	margin-left: 3px;
}

.theme-switchers--hidden {
	display: none;
}
