:root {
    --link-color: #0007cc;
    --link-visited-color: #7d0eb4;
    --link-hover-color: #cc0000;

    --border-color: #7a7a7a;
    --code-color: inherit;

    --text-color: #000;
    --background: #fff;
}

._theme--sky {
    --background: url('/assets/backgrounds/sky.png');
}

._theme--black {
    --link-color: #fff;
    --link-visited-color: #b3b3b3;

    --background: #000;
    --text-color: #fff;
}

._theme--space {
    --link-color: #fff;
    --link-visited-color: #b3b3b3;

    --background: url('/assets/backgrounds/space.jpg');
    --text-color: #fff;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-visited-color);
}

a:hover,
a:visited:hover {
    color: var(--link-hover-color);
}

._dashed {
    text-decoration-style: dashed;
}

._dotted {
    text-decoration-style: dotted;
}

._none {
    text-decoration-style: none;
}

._no-visited {
    --link-visited-color: var(--link-color);
}