:root {
	--link-color: #0007cc;
	--link-visited-color: #7d0eb4;
	--link-hover-color: #cc0000;

	--border-color: #7a7a7a;
	--code-color: inherit;

	--text-color: #000;
	--background: #fff;
}

._theme--sky {
	--background: url('/assets/backgrounds/sky.png');
}

._theme--black {
	--link-color: #fff;
	--link-visited-color: #b3b3b3;

	--background: #000;
	--text-color: #fff;
}

._theme--space {
	--link-color: #fff;
	--link-visited-color: #b3b3b3;

	--background: url('/assets/backgrounds/stardown.gif');
	--text-color: #fff;
}

._theme--panther {
	--link-color: #A90FB3;
	--link-hover-color: #0686E0;
	--link-visited-color: #8C5E93;

	--background: url('/assets/backgrounds/bkgpstlpatrn1.jpg');
	--text-color: #570466;
}

._theme--winter {
	--link-color: #fff;
	--link-visited-color: #cdccf0;

	--background: url('/assets/winter/christmas-lights-2.gif') repeat-x, url('/assets/backgrounds/snowbg.gif');
	--text-color: #fff;
}
._theme--winter .header {
	margin-top: 24px; /* height of /assets/winter/christmas-lights-2.gif*/
}
._theme--winter .footer {
	align-items: center;
	margin-top: -.5rem;
}
._theme--winter main h1,
._theme--winter main h2 {
	background: url('/assets/winter/nano-tree.gif') left center no-repeat;
	padding-left: 36px;
}

a {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}

a:hover,
a:visited:hover {
	color: var(--link-hover-color);
}

._dashed {
	text-decoration-style: dashed;
}

._dotted {
	text-decoration-style: dotted;
}

._none {
	text-decoration: none;
}

._no-visited {
	--link-visited-color: var(--link-color);
}
