:root {
	--font-family-monospace: Consolas, Menlo, Monaco, monospace;
	--font-family-serif: Times, serif;
}

body {
	font-size: 16px;
	line-height: 1.25;
	font-family: var(--font-family-serif);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 1.5rem 0 1rem;
}

ul li ~ li,
ol li ~ li {
	margin-top: .5rem;
}


pre,
code,
.monospace {
	font-family: var(--font-family-monospace);
	color: var(--code-color);
}

code,
.monospace {
	white-space: pre-wrap;
	font-size: .8em;
}
